<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое изображение</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<h2 class="title">Генератор изображений</h2>
<canvas class="block" id="image"></canvas>
<div class="block panel">
    <div class="range-slider color">
        <label for="canal-h">H canal:</label>
        <input class="range-slider__range" name="canal-h" type="range" value="100" min="0" max="360" id="canal-h">
        <span class="range-slider__value">100°</span>
    </div>
    <div class="range-slider color">
        <label for="canal-s">S canal:</label>
        <input class="range-slider__range" name="canal-s" type="range" value="80" min="0" max="100" id="canal-s">
        <span class="range-slider__value">80%</span>
    </div>
    <div class="range-slider color">
        <label for="canal-v">V canal:</label>
        <input class="range-slider__range" name="canal-v" type="range" value="220" min="0" max="255" id="canal-v">
        <span class="range-slider__value">86%</span>
    </div>
    <div class="range-slider color">
        <label for="gradient-h">Gradient-H:</label>
        <input class="range-slider__range" name="gradient-h" type="range" value="40"
               min="0" max="180" id="gradient-h">
        <span class="range-slider__value">40°</span>
    </div>
    <div class="range-slider color">
        <label for="gradient-s">Gradient-S:</label>
        <input class="range-slider__range" name="gradient-s" type="range" value="30"
               min="0" max="50" id="gradient-s">
        <span class="range-slider__value">30%</span>
    </div>
    <div class="range-slider color">
        <label for="gradient-v">Gradient-V:</label>
        <input class="range-slider__range" name="gradient-v" type="range" value="26"
               min="0" max="128" id="gradient-v">
        <span class="range-slider__value">10%</span>
    </div>
    <div class="range-slider">
        <label for="count">Image size:</label>
        <input class="range-slider__range" name="count" type="range" value="9" min="5"
               max="16" id="count">
        <span class="range-slider__value">9x</span>
    </div>
    <div class="range-slider">
        <label for="margin">Margin:</label>
        <input class="range-slider__range margin_slider" name="margin" type="range"
               value="1" min="0" max="2" id="margin">
        <span class="range-slider__value margin_slider">1x</span>
    </div>
    <div class="range-slider">
        <label for="fill">Fill:</label>
        <input class="range-slider__range margin_slider" name="fill" type="range"
               value="50" min="0" max="100" id="fill">
        <span class="range-slider__value margin_slider">50%</span>
    </div>
    <div class="setting">
        <label class="article">Случайные настройки из шаблонов:</label>
        <label class="toggle-control">
            <input type="checkbox" name="random" checked id="random">
            <span class="control"></span>
        </label>
    </div>
</div>
<div>
    <a>
        <button class="bn632-hover bn24" id="download">Скачать</button>
    </a>
    <button class="bn632-hover bn25" id="generate">Генерировать!</button>
</div>
<script src="/static/js/canvas.js"></script>
<script src="/static/js/input_handler.js"></script>
<script src="/static/js/download.js"></script>
</body>
</html>
